.grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Cria 2 colunas de tamanhos iguais
    gap: 1rem; //Controla o espaço entre as colunas
    //align-items: stretch;
}