<header class="header">
  <div>
    <button class = "logo" routerLink="">SmartVen</button>
  </div>

  <nav class="nav">
    <a routerLink="">Home</a>
    <a routerLink="/product">Produtos</a>
    <!-- <a href="#">Pedidos</a> -->
  </nav>

  <div class="conta">
    <app-primary-button [label] = "'Cart ('+ cartServ.cart().length +')'" 
                        routerLink="/cart">
    </app-primary-button>
    <span class="saldo">Saldo: R$ {{ saldo() }}</span>
    <span class="user">Olá, {{ userName }}</span>
    <app-primary-button [label] = 'sair()' (btnClicked)="showButtonClicked()"></app-primary-button>
  </div>
</header>